{% assign repo = include.repository %}

<div class="repo">
  <div class="card h-100 hoverable repo-native-card">
    <div class="card-body">
      <div class="repo-native-card__eyebrow">
        <span class="repo-native-card__icon"><i class="fa-brands fa-github"></i></span>
        <span class="repo-native-card__path">{{ repo.repository }}</span>
      </div>
      <h3 class="card-title repo-native-card__title">{{ repo.title }}</h3>
      <p class="card-text repo-native-card__description">{{ repo.description }}</p>

      <div class="repo-native-card__meta">
        {% if repo.language %}
          <span class="repo-native-card__meta-item">
            <i class="fa-solid fa-code"></i>
            {{ repo.language }}
          </span>
        {% endif %}
        {% for tag in repo.tags %}
          <span class="repo-native-card__tag">{{ tag }}</span>
        {% endfor %}
      </div>

      <div class="link-cluster repo-native-card__links">
        <a class="link-chip" href="https://github.com/{{ repo.repository }}">Repository</a>
      </div>
    </div>
  </div>
</div>
